@media (min-width: 787px) and (max-width: 1440px) {
    
    .header {
        background-position: 46vw 91%, 2% 14%, 64% 75%;
        background-size: 96%, 11%, 10%;
    }

    .gams-conteiner {
        max-width: unset;
        background-repeat: no-repeat;
        background-size: 49vw, 4vw;
        background-position: 61vw 1vw, 3vw 56vw;

    }
    .gallery-conteiner {
    width: unset;
    }

}