@media (max-width: 1440px) {
    .center {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gams-conteiner {
        max-width: unset;
    }
    .gallery-conteiner {
    width: unset;
    }

}